[Unit]
Description=Start the Open Power Host Control NMI service
Wants=obmc-host-starting@0.target
Before=obmc-host-started@0.target
Wants=obmc-power-on@0.target
After=obmc-power-on@0.target
Conflicts=obmc-chassis-poweroff@0.target
ConditionPathExists=/run/openbmc/host@0-on

[Service]
ExecStart=/usr/bin/env openpower-proc-nmi
SyslogIdentifier=openpower-proc-nmi
Restart=always
Type=dbus
BusName=xyz.openbmc_project.Control.Host.NMI

[Install]
WantedBy=obmc-host-start@0.target
