[Unit]
Description=Start the Open Power Host Control NMI service
Wants=obmc-host-started@0.target
After=obmc-host-started@0.target
Conflicts=obmc-host-stop@0.target

[Service]
ExecStart=/usr/bin/openpower-proc-nmi
SyslogIdentifier=openpower-proc-nmi
Restart=always
Type=dbus
BusName=xyz.openbmc_project.Control.Host.NMI

[Install]
WantedBy=obmc-host-started@0.target
